* { padding: 0; margin: 0; }
:root {
    --primary-charcoal: #1F2933;
    --primary-soft-white: #FAFAFA;
    --support-light-gray: #E5E7EB;
    --support-muted-brown: #8B6F5A;
    --accent-warm-orange: #F59E0B;
    --accent-sage-green: #7BAE7F;
    
}
.shadow { 
    box-shadow: inset -1px 0 1px rgba(229, 231, 235, 0.5),
    inset 1px 0 1px rgba(229, 231, 235, 0.5),
    inset 0 1px 1px rgba(229, 231, 235, 0.8),
    inset 0 -1px 1px rgba(229, 231, 235, 0.8),
    4px 4px 8px rgba(0, 0, 0, 0.25); }
.button { padding: 16px 64px; background: var(--accent-warm-orange); color: var(--support-light-gray); font-size: 16px; font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif; font-weight: 700; text-decoration: none; border-radius: 24px; }
.button-card { padding: 12px 40px; }
.button-favorite { padding: 0; width: 44px; height: 44px; }
h1 { color: var(--primary-charcoal); font-size: 64px; font-weight: 600; font-family: 'Manrope', system-ui, -apple-system, sans-serif; line-height: 150%; }
h2 { color: var(--primary-charcoal); font-size: 56px; font-weight: 600; font-family: 'Manrope', system-ui, -apple-system, sans-serif; line-height: 120%; }
h4 { color: var(--primary-charcoal); font-size: 32px; font-weight: 600; font-family: 'Manrope', system-ui, -apple-system, sans-serif; line-height: 150%; }
.text { color: var(--support-light-gray); font-size: 16px; font-weight: 400;  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif; line-height: 120%; }
.decor-dog { position: absolute; top: 568px; left: 262px; z-index: -1; }
header { width: 100%; }
.menu { max-height: 44px; max-width: 1110px; display: flex; align-items: center; margin: 0 auto; padding-top: 48px; }
.menu__list { list-style: none; display: flex; align-items: center; gap: 32px; }
.menu__link { text-decoration: none; color: var(--primary-charcoal); }
.menu__logo__txt { display: flex; gap: 16px; align-items: center; padding-right: 32px; }
.menu__title a { font-size: 16px; font-family: "Lily Script One", cursive; text-decoration: none; color: var(--primary-charcoal); }
.header__h1__box { max-width: 1110px; margin: 172px auto; text-align: center; }
.h4__header { max-width: 744px; margin: 0 auto; padding: 56px 8px 0; }
.header__actions { margin: 72px 0 0; display: flex; justify-content: center; gap: 72px; }
.info__block__text { width: 684px; height: 84px; background: var(--accent-sage-green); border-radius: 120px 120px 0 0; display: flex; justify-content: center; align-items: center; gap: 16px; }
.info__block__box { width: 100%; max-height: 458px; background: var(--accent-sage-green); border-radius: 0 120px 120px; }
.hvostoteka { background: var(--support-muted-brown); color: var(--accent-sage-green); padding: 4px 8px; border-radius: 12px; font-weight: 600; }
.search { width: 100%; margin-top: 172px; margin-bottom: 172px; }
.search__block { max-width: 1110px; margin: 0 auto; }
.search__grid { display: grid; grid-template-columns: repeat(3, 1fr) auto; gap: 32px; align-items: stretch; }
.card { width: 330px; height: 618px; border-radius: 24px; position: relative; overflow: hidden; }
.card::after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 212px; background-image: url(./images/card-bg.png);   background-size: cover; z-index: -1; }
.pet__name { display: flex; align-items: center; position: absolute; bottom: 0; }
.card__actions { display: flex; align-items: center; position: absolute; bottom: 0; padding: 24px; gap: 16px; }